#map {
    height: 85vh; /* Использовать всю высоту окна */
    width: 100%; /* Полная ширина */
    max-width: 100%; /* Ограничить карту в рамках экрана */
    box-sizing: border-box; /* Включить padding и border в размеры */
    z-index: 1;
}
.leaflet-control-attribution.leaflet-control a:first-child { display: none; }
#zoom-slider {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#filter-button {
    position: absolute;
    top: 20px;
    left: 350px;
    z-index: 1;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.distance-label {
    display: inline-block; /* Растяжение фона по содержимому текста */
    padding: 6px 10px; /* Отступы */
    font-size: 14px; /* Размер текста */
    line-height: 1; /* Межстрочный интервал */
    text-align: center; /* Центрирование текста */
    font-family: 'Arial', sans-serif; /* Современный шрифт */
    color: #333; /* Цвет текста */
    max-width: 200px; /* Ограничение ширины текста */
    white-space: normal; /* Разрешить перенос строк */
}
.legend {
    position: absolute;
    left: 73%; /* Отступ слева в процентах от ширины экрана */
    z-index: 1000;
    background: rgba(255, 255, 255, 0.633);
    padding: 1%; /* Отступы в процентах от ширины экрана */
    border: 1px solid #ccc;
    border-radius: 0.5rem; /* Радиус закругления в относительных единицах */
    box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 1rem; /* Размер шрифта в относительных единицах */
    line-height: 1.5;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.legend li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.legend .pipeline {
    display: inline-block;
    width: 30px; /* Длина линии */
    height: 5px; /* Толщина линии */
    margin-right: 10px; /* Отступ от текста */
    border-radius: 2px; /* Закруглённые концы линии */
}
.legend .circle {
    display: inline-block;
    width: 15px; /* Диаметр круга */
    height: 15px;
    margin-right: 10px; /* Отступ от текста */
    border-radius: 50%; /* Делает элемент кругом */
}

    .marker-label {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
        padding: 5px; /* Увеличение отступов для улучшения читаемости */
        border-radius: 4px;
        white-space: normal; /* Разрешить перенос текста на несколько строк */
        text-align: center; /* Центрирование текста */
        min-width: 120px; /* Минимальная ширина */
        max-width: 300px; /* Максимальная ширина для предотвращения слишком длинных блоков */
        line-height: 1.2; /* Межстрочный интервал */
    }
    .dashed-line {
        stroke-dasharray: 10, 10; /* Соответствует dashArray */
        animation: dashmove 2s linear infinite;
    }

    @keyframes dashmove {
        from {
            stroke-dashoffset: 0;
        }
        to {
            stroke-dashoffset: -20; /* Смещение длины пунктира */
        }
    }
    .cylinder-S {
        width: 25px; /* Ширина цилиндра */
        height: 40px; /* Высота цилиндра */
        background: linear-gradient(to bottom, #e8e8e8, #b1b1b1); /* Градиент для объемного эффекта */
        border: 2px solid #151515; /* Цвет обводки */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень для объема */
        display: inline-block;
        margin-right: 8px;
    }
    .cylinder-T {
        width: 25px; /* Ширина цилиндра */
        height: 40px; /* Высота цилиндра */
        background: linear-gradient(to bottom, #ee3333, #993636); /* Градиент для объемного эффекта */
        border: 2px solid black; /* Цвет обводки */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень для объема */
        display: inline-block;
        margin-right: 8px;
    }
    .leaflet-control-attribution.leaflet-control a:first-child { display: none; }

    .wrapper{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
       /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
        /* clip-path: circle(25px at calc(0% + 45px) 45px); */
        background: #000;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .wrapper{
        clip-path: circle(75%);
      }
      .menu-btn{
        position: absolute;
        z-index: 3;
        right: 20px;
        /* left: 20px; */
        top: 20px;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
        /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
       /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
        background: #000;
        transition: all 0.3s ease-in-out;
      }
      #active:checked ~ .menu-btn{
        color: #fff;
      }
      #active:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      .wrapper ul{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
      }
      .wrapper ul li{
        margin: 15px 0;
      }
      .wrapper ul li a{
        color: none;
        text-decoration: none;
        font-size: 30px;
        font-weight: 500;
        padding: 5px 30px;
        color: #fff;
        border-radius: 50px;
        background: #000;
        position: relative;
        line-height: 50px;
        transition: all 0.3s ease;
      }
      .wrapper ul li a:after{
        position: absolute;
        content: "";
        background: #fff;
         background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
        /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
        width: 104%;
        height: 110%;
        left: -2%;
        top: -5%; /* if the font is 'Oswald'*/
        border-radius: 50px;
        transform: scaleY(0);
        z-index: -1;
        animation: rotate 1.5s linear infinite;
        transition: transform 0.3s ease;
      }
      .wrapper ul li a:hover:after{
        transform: scaleY(1);
      }
      .wrapper ul li a:hover{
        color: #fff;
      }
      input[type="checkbox"]{
        display: none;
      }