#map {
    height: 85vh; /* Использовать всю высоту окна */
    width: 100%; /* Полная ширина */
    max-width: 100%; /* Ограничить карту в рамках экрана */
    box-sizing: border-box; /* Включить padding и border в размеры */
    z-index: 1;
}
.leaflet-control-attribution.leaflet-control a:first-child { display: none; }
#filter-button {
    top: 20px;
    left: 350px;
    z-index: 1;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.distance-label {
    display: inline-block; 
    padding: 6px 10px; 
    font-size: 14px; 
    line-height: 1; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    color: #333; 
    max-width: 200px; 
    white-space: normal; 
}
/* Легенда */
.legend {
  position: absolute;
  right:0;
  top: 0.5%;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.85); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.6rem rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  width: 25%;
  max-width: 300px;
  transition: all 0.4s ease;
}

/* Заголовок легенды */
#legend-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

#legend-header:hover {
  background: rgba(0, 0, 0, 0.2); 
}

/* Контент легенды */
#legend-content {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  max-height: 300px; 
  opacity: 1;
}

/* Скрытое состояние */
.legend.collapsed #legend-content {
  max-height: 0 !important;
  opacity: 0;
}

/* Анимация стрелки при скрытии */
.legend.collapsed #legend-toggle {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}


.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.legend .pipeline {
  display: inline-block;
  width: 30px;
  height: 5px;
  margin-right: 10px;
  border-radius: 2px;
}

.legend .circle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
}

/* Адаптация для экранов с шириной до 1920px */
@media (max-width: 1920px) {
  .legend {
      right:0;
      top: 0.5%; 
      padding: 1.2%; 
      font-size: 0.9rem; 
      width: 23%; 
  }

  .legend .pipeline {
      width: 25px; 
      height: 4px; 
  }

  .legend .circle {
      width: 12px; 
      height: 12px;
  }
}

/* Адаптация для экранов с шириной до 1440px */
@media (max-width: 1440px) {
  .legend {
      left: 77.5%; 
      top: 0.5%; 
      padding: 1%; 
      font-size: 0.8rem; 
      width: 20%; 
  }

  .legend .pipeline {
      width: 20px; 
      height: 3px; 
  }

  .legend .circle {
      width: 10px; 
      height: 10px;
  }
}

/* Настройка кнопки Leaflet.easyPrint */
.leaflet-control-easyPrint {
  position: absolute !important; 
  top: 5%; 
  left: 2%;
  right: auto; 
  bottom: auto;
}

/* Адаптация для экранов с меньшими разрешениями */
@media (max-width: 1920px) {
  .leaflet-control-easyPrint {
      top: 6%; 
      left: 3%;
  }
}

@media (max-width: 1440px) {
  .leaflet-control-easyPrint {
      top: 7%; 
      left: 4%;
  }
}

#info-table-container {
  display: block;
  visibility: visible;
  opacity: 1;
  background-color: white; 
  padding: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 0px auto; 
}

#info-table {
  width: 100%; 
  border-collapse: collapse;
  margin-top: 10px; 
}

#info-table th, #info-table td {
  border: 1px solid black; 
  padding: 8px; 
  text-align: center; 
}

#info-table th {
  background-color: #f2f2f2; 
}

.marker-label {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
    padding: 5px; 
    border-radius: 4px;
    white-space: normal;
    text-align: center; 
    min-width: 120px; 
    max-width: 300px; 
    line-height: 1.2; 
}
    
.dashed-line {
    stroke-dasharray: 10, 10; 
    animation: dashmove 2s linear infinite;
  }

@keyframes dashmove {
    from {
        stroke-dashoffset: 0;
        }

      to {
         stroke-dashoffset: -20; 
        }
    }
    
.cylinder-S {
    width: 25px; 
    height: 40px;
    background: linear-gradient(to bottom, #e8e8e8, #b1b1b1); 
    border: 2px solid #151515; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    display: inline-block;
    margin-right: 8px;
    }

.cylinder-T {
    width: 25px; 
    height: 40px;
    background: linear-gradient(to bottom, #ee3333, #993636); 
    border: 2px solid black;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    display: inline-block;
    margin-right: 8px;
  }
    

  .reservoir-container {
    border: 2px solid white;
    background: #ccc;
    position: relative;
    box-shadow: 0 0 2px black;
    transition: width 0.2s ease, height 0.2s ease;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.reservoir-fill {
    background: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.3s ease;
}

.technical .reservoir-fill {
    background: #aaa;
}



#blur-background {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 999;
}

#blur-background.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  display: none;
  position: fixed;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  max-width: 90%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  z-index: 1000;
  opacity: 0;
  transition: 0.3s ease;
  padding: 20px;
}

.modal.show {
  display: block;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px; right: 15px;
  cursor: pointer;
  font-size: 24px;
}

.modal-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
