#map {
    height: 90vh; /* Использовать всю высоту окна */
    width: 100%; /* Полная ширина */
    max-width: 100%; /* Ограничить карту в рамках экрана */
    box-sizing: border-box; /* Включить padding и border в размеры */
}
#zoom-slider {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: white;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#filter-button {
    position: absolute;
    top: 20px;
    left: 350px;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.distance-label {
    display: inline-block; /* Растяжение фона по содержимому текста */
    padding: 6px 10px; /* Отступы */
    font-size: 14px; /* Размер текста */
    line-height: 1; /* Межстрочный интервал */
    text-align: center; /* Центрирование текста */
    font-family: 'Arial', sans-serif; /* Современный шрифт */
    color: #333; /* Цвет текста */
    max-width: 200px; /* Ограничение ширины текста */
    white-space: normal; /* Разрешить перенос строк */
}
.legend {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.633);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.legend li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.legend .pipeline {
    display: inline-block;
    width: 30px; /* Длина линии */
    height: 5px; /* Толщина линии */
    margin-right: 10px; /* Отступ от текста */
    border-radius: 2px; /* Закруглённые концы линии */
}
.legend .circle {
    display: inline-block;
    width: 15px; /* Диаметр круга */
    height: 15px;
    margin-right: 10px; /* Отступ от текста */
    border-radius: 50%; /* Делает элемент кругом */
}

    .marker-label {
        font-family: Arial, sans-serif;
        font-weight: bold;
        color: #000;
        text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.9);
        padding: 5px; /* Увеличение отступов для улучшения читаемости */
        border-radius: 4px;
        white-space: normal; /* Разрешить перенос текста на несколько строк */
        text-align: center; /* Центрирование текста */
        min-width: 120px; /* Минимальная ширина */
        max-width: 300px; /* Максимальная ширина для предотвращения слишком длинных блоков */
        line-height: 1.2; /* Межстрочный интервал */
    }
    .dashed-line {
        stroke-dasharray: 10, 10; /* Соответствует dashArray */
        animation: dashmove 2s linear infinite;
    }

    @keyframes dashmove {
        from {
            stroke-dashoffset: 0;
        }
        to {
            stroke-dashoffset: -20; /* Смещение длины пунктира */
        }
    }
    .cylinder-S {
        width: 25px; /* Ширина цилиндра */
        height: 40px; /* Высота цилиндра */
        background: linear-gradient(to bottom, #88d279, #2b8b5a); /* Градиент для объемного эффекта */
        border: 2px solid #2b5a8b; /* Цвет обводки */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень для объема */
        display: inline-block;
        margin-right: 8px;
    }
    .cylinder-T {
        width: 25px; /* Ширина цилиндра */
        height: 40px; /* Высота цилиндра */
        background: linear-gradient(to bottom, #679ad2, #2b5a8b); /* Градиент для объемного эффекта */
        border: 2px solid #2b5a8b; /* Цвет обводки */
        border-radius: 10px; /* Закругленные углы */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Тень для объема */
        display: inline-block;
        margin-right: 8px;
    }
    .leaflet-control-attribution.leaflet-control a:first-child { display: none; }

